<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">  
<configuration>  
    <settings>
    	<!--打开延迟加载的开关  -->
        <setting name="lazyLoadingEnabled" value="true"/>
        <!--将积极加载改为消极加载及按需加载  -->
        <setting name="aggressiveLazyLoading" value="false"/>
        <!-- 开启驼峰规则与下划线间的映射关系 -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>  
    </settings>
   	<!-- 别名配置 -->
	<typeAliases>
		<package name="com.f.ssm.model"/>
	</typeAliases>
</configuration>